<a href="https://colab.research.google.com/github/robertmunro25/Attempt-2/blob/dev/NOSQL_practice_Mongo_Cosmos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# PLEASE DO NOT CHANGE THIS LINE
import pymongo
connectionString = "mongodb://asteroid:qeqpcXHLl1NDTOsnAjH0X8ZkAWgEVUYiusxnjGKgAsc4fKnujvSOOBTdFNYoXFLUs4BFGweeKN1fFZKukehPSA==@asteroid.mongo.cosmos.azure.com:10255/?ssl=true&retrywrites=false&replicaSet=globaldb&maxIdleTimeMS=120000&appName=@asteroid@"
client = pymongo.MongoClient(connectionString)

In [3]:
mydb = client["monkeybar"] # PLEASE DO NOT CHANGE THIS LINE

In [4]:
mycol = mydb["bananaman"] # Change collection name 'fish' to anything else that you like!

In [5]:
mydict = {"ism":"communism", "livinghub":"High Cliff"}

x = mycol.insert_one(mydict)

In [6]:
mydict = { "ism": "pacifism", "lifespan": 67 }

x = mycol.insert_one(mydict)

In [7]:
r2 = { "name": "prawnyboi", "bitextra": mydict , "classes":["eng","fr","ger"]}

x = mycol.insert_one(r2)

In [8]:
# MongoDB-> Document Database 
for x in mycol.find():
  print(x)

{'_id': ObjectId('6213ada1cf675e4a95103981'), 'ism': 'communism', 'livinghub': 'High Cliff'}
{'_id': ObjectId('6213ada3cf675e4a95103982'), 'ism': 'pacifism', 'lifespan': 67}
{'_id': ObjectId('6213ada6cf675e4a95103983'), 'name': 'prawnyboi', 'bitextra': {'ism': 'pacifism', 'lifespan': 67, '_id': ObjectId('6213ada3cf675e4a95103982')}, 'classes': ['eng', 'fr', 'ger']}

In [10]:
for x in mycol.find({"name":"prawnyboi", "lifespan":67}).limit(1):
  print(x)

In [12]:
myquery = { "name": { "$regex": "i$" } } # for example, this is a 
# regular expression that ends with letter 'p'

mydoc = mycol.find(myquery)

for x in mydoc:
  print(x)

{'_id': ObjectId('6213ada6cf675e4a95103983'), 'name': 'prawnyboi', 'bitextra': {'ism': 'pacifism', 'lifespan': 67, '_id': ObjectId('6213ada3cf675e4a95103982')}, 'classes': ['eng', 'fr', 'ger']}

In [33]:
mydoct = {"fruit":"banana", "fruitman":"bananaman"}

y = mycol.delete_one(mydoct)

for y in mycol.find():
  print(y)

{'_id': ObjectId('6213ada1cf675e4a95103981'), 'ism': 'communism', 'livinghub': 'High Cliff'}
{'_id': ObjectId('6213ada3cf675e4a95103982'), 'ism': 'pacifism', 'lifespan': 67}
{'_id': ObjectId('6213ada6cf675e4a95103983'), 'name': 'prawnyboi', 'bitextra': {'ism': 'pacifism', 'lifespan': 67, '_id': ObjectId('6213ada3cf675e4a95103982')}, 'classes': ['eng', 'fr', 'ger']}
{'_id': ObjectId('6213b0cbcf675e4a9510398e'), 'fruit': 'banana', 'fruitman': 'bananaman'}